@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
    font-family: "Montserrat", sans-serif;
	background-color: #f6f5f3;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
    display: flex;
}

img {
	max-width: 100%;
}

.logo {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    padding: 2rem;
    color: #fe9714;
    text-shadow: 2px 1px #272727;
}

/*  LAYOUT  */

.container-full {
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 1350px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-40 {
    width: 40%;
}

.col-20 {
    width: 20%;
}

.col-60 {
    width: 60%;
}

.col-100 {
	width: 100%;
}

.banner-img {
    margin: 1rem;
}
/* NAVBAR */

.navbar {
    align-items: center;
    height: 90px;
    background-color: #ffffff;
}

/* HERO */

.hero {
    padding-top: 3rem;
}

.title {
    color: #7c68a3;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.title-desc {
    padding-bottom: 2rem;
    font-weight: 1000;
    font-size: 20px;
}

.desc {
    padding-top: 1rem;
}

/* SOCIAL LINKS */
.social {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.social-icon {
    font-size: 18px;
    border-radius: 999px;
    box-shadow: 10px 10px 5px rgb(36, 36, 36);
    padding: 1rem;
    text-align: center;
    vertical-align: middle;
    width: 12rem;

}

.social-icon.facebook {
    color: #2f55a4;
}

.social-icon.twitter {
    color: #1DA1F2;
}

.social-icon.instagram{
    color: #d139c4;
}

.social-icon.pinterest{
    color: rgb(194, 54, 54);
}

.social-icon.youtube{
    color: rgb(221, 38, 38);
}

.presentation {
    margin: 2rem;
}
.presentation-title {
    font-size: 40px;
}

.presentation-text {
    font-size: 24px;
}

.presentation-img {
    float: left;
    width: 300px;
    margin: 1rem;
}

.divider {
    max-width: 10%;
    max-height: 5px;
    background-color: #fe9714;
    margin: 1rem;
}

/* FOOTER */

.footer {
    background-color: #7c68a3;
    color:#ffffff;
    height: 60px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


